body {
    margin: 0px;
    padding: 0px;
    background: #E5E5E5;
}

.container{
    margin: auto;
    width: 960px;
    height: 650px;
    padding: 5px;
}

.logo{
    width: 100%;
    float: left;
}

.left{
    float: left;
    width: 70%;
    height: 70%;
    border-radius: 24px;
}
.rigth{
    float: right;
    width: 30%;
    height: auto;
    border-radius: 24px;
    background: #D8DFE8;
}
.left-button{
    float: left;
    width: 70%;
    height: auto;
    border-radius: 24px;
}

.imglogo{
    margin-top: 1%;
    margin-left: 5%;
    float: inherit;
}

.input-text{
    float: left;
    margin-left: 10%;
    margin-top: 10%;
    width: 70%;
    height: 70%;
    color: #0A3871;
    font-size: 20px;
    border: none;
    outline: none;
    background: #E5E5E5;
}

#munieco{
    margin-top: 40%;
    margin-left: 5%;
    width: 90%;
    height: auto;
}
#texto{
    margin-left: 5%;
    margin-right: 5%;
}
#texto2{
    float: left;
    margin-left: 10%;
    color: #0A3871;
    width: 80%;
    height: 60%;
    border: none;
    outline: none;
    font-size: 15px;
}
#btn-encriptar{
    padding: 24px;
    width: 30%;
    height: 50%;
    border-radius: 18px;
    margin-left: 15%;
    background: #0A3871;
}
#btn-desencriptar{
    padding: 24px;
    width: 30%;
    height: 50%;
    border-radius: 24px;
    margin-left: 7%;
    background: #D8DFE8;
}
#btn-copiar{
    margin-left: 30%;
    margin-top: 90%;
    padding: 24px;
    width: 40%;
    height: 10%;
    background: #D8DFE8;
    border-radius: 24px;
    display: none;
}

p{
    text-align: center;
}